.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  background-color: #3f51b5;
  color: white;
}

.header p {
  font-size: 1.25em;
  font-family: sans-serif;
}

.header button {
  width: 92px;
}

.controls-hand {
  display: flex;
  margin-top: 20px;
}

.controls {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.controls button {
  margin: 10px;
  width: 92px;
  align-self: center;
  padding: 0 10px;
}

.hand {
  width: 50%;
}

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.end p {
  font-size: 2em;
  margin: 0;
  color: #3f51b5;
}
