<button (click)="newGame()">New</button>
<div *ngIf="!showGameEnd">
  <button *ngIf="!this.deck.length" (click)="endGame()">End Game</button>
  <button *ngIf="this.deck.length" (click)="draw()">Draw ({{deck.length}})</button>
  <button [disabled]="(selected.length === 0 || selected.length % 2 !== 0)" (click)="score()">Score</button>
  <p>Score: {{hand.length}}</p>
  <div class="hand">
    <div *ngFor="let card of hand; index as i; last as isLast">
      <app-card (addSelection)="addSelection(card)" [selected]="selected.includes(card)" [last]="isLast" [shown]="i >= hand.length - 4" [card]="card"></app-card>
    </div>
  </div>
</div>
<div *ngIf="showGameEnd">
  <p>You scored:</p>
  <p>{{hand.length}}</p>
</div>