<div class="header">
  <p>One-Handed Solitaire</p>
  <button mat-raised-button color="warn" (click)="newGame()">New</button>
</div>
<div *ngIf="!showGameEnd">
  <div class="controls-hand">
    <div class="controls">
      <button mat-raised-button color="warn" [disabled]="(selected.length === 0 || selected.length % 2 !== 0)" (click)="score()">Score ({{hand.length}})</button>
      <button mat-raised-button color="primary" *ngIf="!this.deck.length" (click)="endGame()">End Game</button>
      <button mat-raised-button color="primary" *ngIf="this.deck.length" (click)="draw()">Draw ({{deck.length}})</button>
    </div>
    <div class="hand">
      <div *ngFor="let card of hand; index as i; last as isLast">
        <app-card (addSelection)="addSelection(card)" [selected]="selected.includes(card)" [last]="isLast" [shown]="i >= hand.length - 4" [card]="card"></app-card>
      </div>
    </div>
  </div>
</div>
<div class="end" *ngIf="showGameEnd">
  <p>Final Score</p>
  <p>{{hand.length}}</p>
</div>
